@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth
}

/* tailwind */
@layer base{

    body{
        @apply bg-background
    }

    .btn{
        @apply grid place-items-center w-[120px] h-[40px] text-[18px]
    }

    .checkout-label{
        @apply block mb-[10px];
    }

    .checkout-input{
        @apply block border-[#ccc] rounded-[4px] w-full
    }
}


/* custom css */
.font-rubik{
    font-family: "Rubik Dirt", system-ui;
    font-weight: 400;
    font-style: normal;
}
